.footer{
  margin-top: 1%;
  width: 100vw;
  background-color:rgba(0, 0, 0, 1);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer-container{
  width: 1440px;
  height: 182px;
  padding:55px 70px 55px 70px;
  display: flex;
  position: relative;
  
}
.footer-data-container{
  position: absolute;
  display: flex;
  width: 695px;
  height: 72px;
  gap: 56px;
  justify-content: space-between;
  color: white;
  flex:start;
  .footer-data{
    position: relative;
    margin: 0;
  }
  .main-logo{
    position: relative;
    img{
      object-fit: contain;
      width: 34px;
      height: 46px;
      image-rendering: auto;
    }

  }
  .media{
    display: flex;
    position: relative;
    height: 100%;
    .logo-container{
      position: absolute;
      display: flex;
      justify-content: space-between;
      width: 133px;
      height: 24px;
      gap: 15px;
      top: 0;
    }
  }
}
.footer-data-container p:hover{
    cursor: pointer;
    text-decoration: underline;
}